.conatinerForm {
  width: 80%;
  height: 80%;
  margin: auto;
  padding: 3px 3px;
}
input {
  display: block;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 35px;
  border: none;
}
input[type="text"]:focus {
  background-color: lightblue;
}
.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}
.radioInput {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
}
.imgCon {
  display: flex;
  align-content: center;
  padding: 3px;
  border-bottom: 1px solid rgb(177, 169, 169);
}

.headerItem {
  margin: 0;
  padding: 0;
  position: relative;
  height: 34px;
}
.headerGo {
  font-size: larger;
  color: rgb(15, 48, 156);
  margin: 0;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
}
.footerItem {
  margin: 0;
}
.footerCon {
  border: none !important;
}
.paymentG {
  width: 85%;
  padding: 5px 5px;
  margin: auto;
}
.showForm {
  background-color: rgba(136, 202, 240, 0.1);
  margin: 5px 5px;
  height: 80vh;
  padding: 5px 1rem !important;
}
.orBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.orBtn::before {
  content: "";
  margin-right: 5px;
  width: 200px;
  height: 0px;
  outline: 1px solid #b8d4e4;
}
.orBtn::after {
  width: 200px;
  height: 0px;
  margin-left: 5px;
  outline: 1px solid #b8d4e4;
  content: "";
}
.payMentInput {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.pay-btn {
  width: 20vw;
  border: 2px solid #004b8d;
  border-radius: 5px;
  margin: 0.3rem 0.5rem;
  padding: 0 1rem;
  height: 32px;
  text-align: center;
  background-color: rgba(136, 202, 240, 0.1);
}

.phoneInput {
  padding: 0px !important;
  color: #004b8d;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0px !important;
  background-color: rgba(136, 202, 240, 0);
  border-bottom: 1px solid rgb(177, 169, 169);
}
.phoneInput:focus {
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid rgb(177, 169, 169);
}
.phoneUpdate {
  display: flex;
  align-items: center;
}
.phoneUpdate p {
  margin: 0px;
}
